.hide-scrolling {
    overflow: hidden;
    transition: 0.5s;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0 80px;

    @media screen and (max-width:$screen-md) {
        padding: 0 30px;
    }

    @media screen and (max-width:$screen-xs) {
        padding: 0 15px;
    }
}

.container-fluid {
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.column {
    width: 90%;
    margin: auto;

    @media screen and (max-width:$screen-xs) {
        width: 100%;
    }
}

.container-nav {
    min-height: 90vh
}

.line {
    width: 28px;
    height: 2px;
    background: white;

}

.line-black {
    background: black;
    height: 2px
}

.btn-up {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background: black;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    z-index: 10;


    &:hover {
        opacity: 1;
        transition: 0.3s;
    }

    svg {
        width: 30px;
        height: 30px;

        path {
            fill: #fff;
        }
    }

}