.hero {
    margin-bottom: 80px;
    position: relative;
    z-index: 20;

    @media screen and (max-width:$screen-sm) {
        margin-bottom: 35px;
    }

    &__wrapper {
        margin: auto;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - 80px);
        position: relative;
        overflow: hidden;


    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
        text-align: center;
        width: 650px;
        max-width: 90%;

        @media screen and (max-width:$screen-md) {
            max-width: 71%;
        }

        @media screen and (max-width:$screen-xs) {
            max-width: 90%;
        }

    }

    &__image {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        max-width: none;

    }

    &__title {
        font-weight: 800;
        font-size: 48px;
        letter-spacing: 0.025em;
        margin-bottom: 20px;

        @media screen and (max-width:$screen-md) {
            font-size: 32px;
        }

        @media screen and (max-width:$screen-sm) {
            font-size: 26px;
        }
    }

    &__subtitle {
        text-align: center;
        font-size: 16px;
        margin-top: 20px;

        @media screen and (max-width:$screen-sm) {
            font-size: 14px;

        }
    }

    &__btn {
        margin-top: 33px;
        padding: 18px 34px;
        color: black;
        background: white;
        border-radius: 3px;
        border: none;
        letter-spacing: 0.2em;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            transform: scale(0.95);
            transition: 0.1s;
        }

        &:focus {
            outline: 0;
        }

        @media screen and (max-width:900px) {
            padding: 13px 25px;
        }
    }

    &__prev-btn,
    &__next-btn {
        font-size: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 10;
        width: 33px;
        background: white;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        @media screen and (max-width:$screen-xs) {
            display: none !important;

        }
    }

    &__next-btn {
        right: 22px;

        @media screen and (max-width:$screen-md) {
            right: 16px;
        }
    }

    &__prev-btn {
        left: 22px;

        @media screen and (max-width:$screen-md) {
            left: 16px;
        }
    }

    &__slick-arrow {
        &.hidden {
            display: none;
        }
    }

}