.languages {
    display: flex;
    justify-content: flex-end;
    min-width: 190px;

    @media screen and (max-width:$screen-md) {
        min-width: 115px;
    }

    @media screen and (max-width:$screen-xs) {
        min-width: 86px;
    }

    li {
        opacity: 0.54;

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-right: 10px;
        }

        &--active {
            font-weight: 700;
        }
    }

    &__separator {
        margin: 0 9px 0 8px;
    }
}